<mat-grid-list cols="1" rowHeight="500px">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-grid-tile>
            <div class="controllers-wrapper">
              <h1>Login</h1>
                <!-- Name -->
                <mat-form-field appearance="fill" class="width-100">
                    <input matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="width-100">
                    <input type="password" matInput placeholder="Password" formControlName="password" required>
                </mat-form-field>

                <button mat-raised-button (click)="login()" style="background-color: #50C0DD; color: white;">Login</button>
                <span>
                  Don't have an account ? 
                  <a [routerLink]="['/auth/register']">register</a> here</span>

                <p *ngIf="error" style="color: red">{{ error }}</p>
            </div>
          </mat-grid-tile>
    </form>
</mat-grid-list>