<div>
  <mat-grid-list cols="1" rowHeight="750px">
    <form [formGroup]="registerForm" (ngSubmit)="register">
    <mat-grid-tile>
        <div class="example-container">
            <h1>Register</h1>
          <mat-form-field appearance="fill" class="width-50">
            <mat-label>First Name</mat-label>
            <input 
                matInput
                placeholder="First name"
                required
                formControlName="firstName"
            >
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="width-50 ml-2">
            <mat-label>Surname</mat-label>
            <input 
                matInput
                placeholder="Last name"
                required
                formControlName="lastName"
            >
          </mat-form-field>

          <br>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Email address</mat-label>
            <input 
                matInput 
                placeholder="Email address"
                required
                formControlName="email"
            >
          </mat-form-field>

          <br>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Enter password</mat-label>
            <input 
                matInput 
                [type]="hide ? 'password' : 'text'"
                placeholder="Password"
                required
                formControlName="password"
            >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Retype password</mat-label>
            <input 
                matInput 
                [type]="hide ? 'password' : 'text'"
                placeholder="Retype password"
                required
                formControlName="retypePassword"
            >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <br>

          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Birthday</mat-label>
            <input 
                matInput 
                [matDatepicker]="picker"
                placeholder="Birthday"
                name="birthday"
                formControlName="birthday"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <button mat-raised-button (click)="register()" color="primary">Register</button>
          <span>
            Already have an account ? 
            <a [routerLink]="['/auth/login']">login</a> here</span>

            <div style="margin-top: 20px" *ngIf="registerForm.invalid && registerForm.touched" class="alert alert-danger">
              <div *ngIf="registerForm.controls['firstName'].invalid">
                <mat-error *ngIf="registerForm.controls['firstName'].errors?.['required']">First name is required</mat-error>
                <mat-error *ngIf="registerForm.controls['firstName'].errors?.['minLength']">First name must be at least 3 characters long</mat-error>
              </div>
              <div *ngIf="registerForm.controls['lastName'].invalid">
                <mat-error *ngIf="registerForm.controls['lastName'].errors?.['required']">Last name is required</mat-error>
                <mat-error *ngIf="registerForm.controls['lastName'].errors?.['minLength']">Last name must be at least 3 characters long</mat-error>
              </div>
              <div *ngIf="registerForm.controls['email'].invalid">
                <mat-error *ngIf="registerForm.controls['email'].errors?.['required']">Email is required</mat-error>
                <mat-error *ngIf="registerForm.controls['email'].errors?.['email']">Email is invalid</mat-error>
              </div>
              <div *ngIf="registerForm.controls['password'].invalid">
                <mat-error *ngIf="registerForm.controls['password'].errors?.['required']">Password is required</mat-error>
                <mat-error *ngIf="registerForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters long</mat-error>
              </div>
              <div *ngIf="registerForm.controls['retypePassword'].invalid">
                <mat-error *ngIf="registerForm.controls['retypePassword'].errors?.['required']">Retype password is required</mat-error>
                <mat-error *ngIf="registerForm.controls['retypePassword'].errors?.['minlength']">Retype password must be at least 6 characters long</mat-error>
              </div>
              <div *ngIf="registerForm.controls['retypePassword'].invalid">
                <mat-error *ngIf="registerForm.controls['retypePassword'].errors?.['required']">Retype password is required</mat-error>
                <mat-error *ngIf="registerForm.controls['retypePassword'].errors?.['minlength']">Retype password must be at least 6 characters long</mat-error>
              </div>
              <div *ngIf="registerForm.controls['birthday'].invalid">
                <mat-error *ngIf="registerForm.controls['birthday'].errors?.['required']">Birthday is required</mat-error>
              </div>
            </div>
        </div>
    </mat-grid-tile>
    </form>
</mat-grid-list>
</div>