<mat-card *ngIf="paint" class="card">
    <mat-card-header>
        <mat-card-title>{{ paint.name }}</mat-card-title>
        <mat-card-subtitle>{{ paint.price | currency: "EUR" }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            Edit information from {{ paint.name | uppercase }} below
        </p>    
        
        <form [formGroup]="paintForm">
            <mat-form-field class="input">
                <mat-label>Paint name</mat-label>
                <input matInput [(ngModel)]="paint.name" formControlName="name" placeholder="name">
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Paint price</mat-label>
                <input type="number" matInput [(ngModel)]="paint.price" formControlName="price" placeholder="price">
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Paint URL</mat-label>
                <input matInput [(ngModel)]="paint.url" formControlName="url" placeholder="url">
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Color</mat-label>
                <input type="color" matInput [(ngModel)]="paint.color" formControlName="color" placeholder="color">
            </mat-form-field>
        </form>

        <div style="margin-top: 20px" *ngIf="paintForm.invalid && paintForm.touched" class="alert alert-danger">
            <div *ngIf="paintForm.controls['name'].invalid">
                <mat-error *ngIf="paintForm.controls['name'].errors?.['required']">Name is required</mat-error>
                <mat-error *ngIf="paintForm.controls['name'].errors?.['minLength']">Name must be at least 3 characters long</mat-error>
            </div>
            <div *ngIf="paintForm.controls['price'].invalid">
                <mat-error *ngIf="paintForm.controls['price'].errors?.['required']">Price is required</mat-error>
            </div>
            <div *ngIf="paintForm.controls['url'].invalid">
                <mat-error *ngIf="paintForm.controls['url'].errors?.['required']">URL is required</mat-error>
            </div>
            <div *ngIf="paintForm.controls['color'].invalid">
                <mat-error *ngIf="paintForm.controls['color'].errors?.['required']">Color is required</mat-error>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button (click)="goBack()" mat-button>BACK</button>
        <button (click)="savePaint(paint._id)" mat-button>SAVE</button>
        <button (click)="deletePaint(paint._id)" mat-button>DELETE PAINT</button>
    </mat-card-actions>
</mat-card>