<div class="card">
    <mat-card *ngIf="ship" class="card">
        <mat-card-header>
            <mat-card-title>Ship information: {{ ship.name | uppercase }}</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            <h1>All paint</h1>
            <div *ngFor="let paint of paints">
                <p >
                    <b>{{ paint.part }}</b>
                </p>
                <p>
                    <mat-icon mat-list-icon [ngStyle]="{'color': paint.color }">format_paint</mat-icon>
                    {{ paint.paint }}
                </p>
            </div>
        </mat-card-content>
    
        <mat-card-actions>
            <button (click)="goBack()" mat-button>BACK</button>
            <!-- <button routerLink="/edit-paint/{{paint._id}}" mat-button>EDIT PAINT</button>
            <button (click)="deletePaint(paint._id)" mat-button>DELETE PAINT</button> -->
        </mat-card-actions>
    </mat-card>
</div>