<div class="card">
    <mat-card *ngIf="ship" class="card">
        <mat-card-header>
            <mat-card-title>Ship information: {{ ship.name | uppercase }}</mat-card-title>
            <mat-card-subtitle>MMSI: {{ ship.mmsi }}</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let onderdeel of paints | keyvalue">
                    <mat-expansion-panel-header>{{ onderdeel.key }}</mat-expansion-panel-header>
                
                    <div *ngFor="let x of onderdeel.value">
                        <p><b>{{ x.part }}</b></p>

                        <p>
                            <mat-icon mat-list-icon [ngStyle]="{'color': x.paint.color }">format_paint</mat-icon>
                            {{ x.paint.name }} per {{ x.paint.amount }}L (price per L: {{ x.paint.price / x.paint.amount | currency:'EUR' }})
                        </p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    
        <mat-card-actions>
            <button (click)="goBack()" mat-button>BACK</button>
            <button *ngIf="authenticated" routerLink="edit" mat-button>EDIT SHIP</button>
            <button *ngIf="authenticated" (click)="deleteShip(id)" mat-button>DELETE SHIP</button>
        </mat-card-actions>
    </mat-card>
</div>