<!-- <mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/users">Users</button>
    <button mat-menu-item routerLink="/create-user">Create user</button>
  </mat-menu>

  <span>Carpediem Shipping Paint</span>
</mat-toolbar>

<router-outlet></router-outlet> -->

<app-nav>
  <router-outlet></router-outlet>
</app-nav>