<div class="inner-wrapper card">
    <form [formGroup]="userForm" (ngSubmit)="sendForm()">
        <mat-card>

            <mat-card-title>Add user</mat-card-title>

            <div class="controllers-wrapper">
                <!-- Name -->
                <mat-form-field class="input">
                    <input matInput placeholder="First name" formControlName="firstName" required>
                </mat-form-field>
                
                <mat-form-field class="input">
                    <input matInput placeholder="Last name" formControlName="lastName" required>
                </mat-form-field>
                
                <mat-form-field class="input">
                    <input matInput placeholder="E-Mail" formControlName="email" required>
                </mat-form-field>

                <mat-form-field class="input">
                    <input type="password" matInput placeholder="Password" formControlName="password" required>
                </mat-form-field>

                <mat-form-field class="input">
                    <input type="password" matInput placeholder="Repeat Password" formControlName="repeatPassword" required>
                </mat-form-field>

                <!-- <mat-form-field class="input">
                    <input matInput readonly [matDatepicker]="picker" placeholder="Birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->

                <!-- <div>
                    <mat-label>Gender: </mat-label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="Male">Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                    </mat-radio-group>
                </div> -->
                
                <div class="full-wrapper button-wrapper">
                    <div class="button-wrapper">
                        <button mat-flat-button style="background-color: #50C0DD; color: white;">Submit</button>
                    </div>
                </div>

                <div style="margin-top: 20px" *ngIf="userForm.invalid && userForm.touched" class="alert alert-danger">
                    <div *ngIf="userForm.controls['firstName'].invalid">
                        <mat-error *ngIf="userForm.controls['firstName'].errors?.['required']">First name is required</mat-error>
                        <mat-error *ngIf="userForm.controls['firstName'].errors?.['minLength']">First name must be at least 3 characters long</mat-error>
                    </div>
                    <div *ngIf="userForm.controls['lastName'].invalid">
                        <mat-error *ngIf="userForm.controls['lastName'].errors?.['required']">Last name is required</mat-error>
                    </div>
                    <div *ngIf="userForm.controls['email'].invalid">
                        <mat-error *ngIf="userForm.controls['email'].errors?.['required']">E-Mail is required</mat-error>
                        <mat-error *ngIf="userForm.controls['email'].errors?.['email']">E-Mail is invalid</mat-error>
                    </div>
                    <div *ngIf="userForm.controls['password'].invalid">
                        <mat-error *ngIf="userForm.controls['password'].errors?.['required']">Password is required</mat-error>
                        <mat-error *ngIf="userForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters long</mat-error>
                    </div>
                    <div *ngIf="userForm.controls['repeatPassword'].invalid">
                        <mat-error *ngIf="userForm.controls['repeatPassword'].errors?.['required']">Repeat Password is required</mat-error>
                        <mat-error *ngIf="userForm.controls['repeatPassword'].errors?.['minlength']">Repeat Password must be at least 6 characters long</mat-error>
                     </div>
                </div>
            </div>
        </mat-card>
    </form>
</div>