<!-- add margin 20px left 20px top -->
<div style="margin: 20px 20px 20px 20px">
  <mat-card style="width: 20%">
    <mat-card-header>
      <mat-card-title>Order chart</mat-card-title>
      <mat-card-subtitle>Overview of (un-)approved orders</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="width: 200px;">
      <canvas
        baseChart
        [datasets]="doughnutChartData"
        [labels]="labels"
        [legend]="true"
        [type]="'doughnut'"
      ></canvas>
    </mat-card-content>
  </mat-card>
</div>