<div class="content">
    <h1>Welkom op deze applicatie</h1>
    
    <mat-grid-list style="margin-top: 20px;" cols="2">
        <mat-grid-tile>
            <mat-card class="description">
                <mat-card-title>Carpediemshipping Paint Program</mat-card-title>
                <mat-card-subtitle>Uitleg over deze casus</mat-card-subtitle>
                <mat-card-content>
                    <p>Description here</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
    </mat-grid-list>
</div>

